/* TYPOGRAPHY */
.bold-text {
    color: rgb(191, 217, 255);
}
.section-header {
    border-bottom: 2px solid rgb(249, 213, 255);
}
a {
    color: rgb(249, 213, 255);
}

/* INTRO */
#intro-name {
    background-color:rgb(191, 217, 255, .5);
}

/* ABOUT */
#about-img {
    border: 2px solid rgb(191, 217, 255);
}

/* EXPERIENCE */
/* Pagination */
.border-show {
    border-left: 2px solid #444;
}
.border-active {
    border-left: 2px solid rgb(191, 217, 255);
    color: rgb(191, 217, 255);
    background-color: rgb(191, 217, 255, .25);
}
.experience-link:hover {
    color: rgb(191, 217, 255);
    background-color: rgb(191, 217, 255, .25);
}

/* PORTFOLIO */
.portfolio {
    background-color: rgb(136, 136, 136, .1);
}