html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

/* TYPOGRAPHY */
.section-header {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 2px solid #b6cecc;
}

/* INTRO */
#intro-img {
    width: 50%;
}