body {
    background-color: rgb(32, 32, 35);
    color: #fff;
}

/* TYPOGRAPHY */
#nav-logo-text {
    color: #fff;
}
.nav-link { 
    color: #fff;
}
.nav-link:hover {
    border-bottom: 2px solid rgb(249, 213, 255);
}

/* FOOTER */
#footer-line {
    background-color: rgb(249, 213, 255);
}
.footer-icon {
    color: rgb(249, 213, 255);
}
.footer-icon:hover {
    color: rgb(249, 213, 255, .25);
}
.footer-credit > a {
    color: rgb(249, 213, 255);;
}

/* BUTTONS */
.btn {
    color: #fff;
    border: 1px solid rgb(249, 213, 255);
}
.btn:hover {
    background-color: rgb(249, 213, 255, .25);
}
#btn-theme {
    color: #333;
    background-color: rgb(251, 211, 141);
}
#btn-theme:hover {
    background-color: rgb(246, 173, 85);
}
.fi-br-sun {
    position: relative;
    top: 2px;
}

/* UTILITIES */
.sticky {
    /* From https://css.glass */
    background: rgba(32, 32, 35, 0.5); 
}