/* DEFAULT THEME  */
html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    background-color: rgb(240, 231, 219);
    color: #333;
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    height: 4rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
section {
    width: 40rem;
    margin-bottom: 2rem;
}

/* LINKS */
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* LISTS */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* IMAGES */
#nav-img {
    width: 2rem;
    position: relative;
    top: 2px;
}

/* TYPOGRAPHY */
p {
    margin: 0;
    padding: 0;
}
#nav-logo-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    color: #333;
    letter-spacing: 0.15rem;;
}
.nav-link { 
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s; /* fade in */
}
.nav-link:hover {
    border-bottom: 2px solid rgb(136, 136, 136);
}

/* NAV */
#nav-left-side {
    padding-left: 4rem;
}
#nav-right-side {
    padding-right: 4rem;
}
#nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
#nav-mobile {
    display: none;
    position: fixed;
    top: 4rem;
    right: 4rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-radius: .75rem;
    width: 12rem;
    padding: 1rem;
    box-shadow: .1rem .1rem .4rem rgb(136, 136, 136, .2);   
}
#nav-mobile > .nav-links > .nav-link {
    font-size: 1.2rem;
}

/* FOOTER */
#footer-line {
    height: 10rem;
    width: 2px;
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 5rem;
}
.footer-icon {
    font-size: 1.5rem;
    color: #333;
    transition: color .5s; /* fade in */
}
.footer-icon:hover {
    color: rgb(136, 136, 136);
}
#github {
    position: fixed;
    bottom: 11rem;
    left: 4.4rem;
}
#linkedin {
    position: fixed;
    bottom: 14rem;
    left: 4.5rem;
}
#footer-credits {
    position: fixed;
    bottom: 6rem;
    left: -3rem;
    transform: rotate(270deg);
}
.footer-credit {
    font-size: 0.8rem;
}
.footer-credit > a {
    color: rgb(156, 137, 184);
}

/* BUTTONS */
.btn {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: transparent;
    border: 1px solid rgb(156, 137, 184);
    transition: background-color .5s; /* fade in */
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(156, 137, 184, .25);
}
.btn-small {
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
}
.btn-medium {
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    border-radius: .5rem;
}
/* buttons with icon with or without text */
.btn-w-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
/* buttons with images with or without text */
.img-in-btn {
    width: 1.5rem;
    height: auto;
}
#btn-media {
    display: none;
    background-color: transparent;
}
#btn-theme {
    color: #fff;
    background-color: rgb(156, 137, 184);
    transition: background-color .5s; /* fade in */
    cursor: pointer;
    border: none;
}
#btn-theme:hover {
    background-color: rgb(156, 137, 184, .5);
}
.fi-rr-moon-stars, .fi-rr-menu-burger, .fi-br-sun {
    position: relative;
    top: 2px;
}

/* UTILITIES */
.sticky {
    position: fixed;
    top: 0;
    /* From https://css.glass */
    background: rgb(240, 231, 219, .5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);    
}

/* MEDIA QUERY */
@media (max-width: 768px) {
    main {
        padding: 0 4rem;
    }
    nav {
        width: 100%;
    }
    section {
        max-width: 40rem;
        width: auto;
    }
    /* NAV */
    #nav-links {
        gap: 1rem;
    }
    #nav-links > .nav-links > .nav-link {
        display: none;
    }
    /* BUTTONS */
    #btn-media {
        display: inline-block;
    }
    #btn-media:hover {
        background-color: rgb(156, 137, 184, .25);
    }
}